* {
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  font-size: small;
  font-family: "CircularStd-Book";
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 0 7.5rem;
}

.zannozalogo {
  width: 10.13881rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.header-container ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin-left: 30px;
}
.header-container a {
  text-decoration: none;
  padding: 0 20px;
  color: black;
  font-weight: bold;
  /* padding: 30px; */
  /* border: 1px solid red; */
}
.navbar-buttons {
  display: flex;
}
