.section__padding {
  width: 80%;
  height: 500px;
}
.footer {
  position: relative;
  padding-top: 3%;
  /* margin-top: 10%; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.sb__footer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  /* background: green; */
  /* margin-bottom: 1rem; */
}

.sb__footer-links_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* background-color: aqua; */
  width: 20%;
}
.sb__footer-links_div a {
  color: #f3ebfa;
  text-decoration: none;
  line-height: 0;
}
.socialmedia {
  display: flex;
  flex-direction: row;
}

.sb__footer-links_div h4 {
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.sb__footer-links_div p {
  font-size: 14px;
  color: #f3ebfa;
  /* font-family: 'DM Sans'; */
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.5;
  line-height: 2rem;
}
.subscribe {
  background: rgba(250, 244, 255, 0.05);

  width: 330px;
  padding: 20px;
  font-size: 12px;
  flex-direction: column;
  margin-bottom: 5%;
}
.subscribe h4 {
  /* font-family: 'DM Sans'; */
  color: #f3ebfa;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10%;
}
.input_div {
  display: flex;
}
.subscribe input {
  padding: 20px;
  border: none;
  background-color: black;
  color: #f3ebfa;
  opacity: 0.5;
}
.input_btn {
  padding: 6%;
  background: #a456d8;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.sub_div-p {
  margin-top: 18%;
  /* font-family: 'DM Sans'; */
  font-size: 14px;
  font-weight: 400;
}
.subscribe p {
  color: #f3ebfa;
  opacity: 0.5;
  margin-bottom: 5%;
}
hr {
  background: #f3ebfa;
  opacity: 0.06;
}
.sb__footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb__footer-below-links a {
  color: var(--primary-colors-purple-purple-100, #f3ebfa);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 200% */
  text-decoration: none;
}

.sb__footer-below-links {
  display: flex;
  gap: 2.25rem;
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  /* color: white; */
  font-weight: 60;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* opacity: 0.4; */
  transition: background-color 0.3s;
}

.social-icons li a {
  color: rgba(243, 235, 250, 1);
}

.social-icons li:hover {
  background-color: #a456d8;
}
