@font-face {
  font-family: "CircularStd-Black";
  src: url(./fonts/CircularStd-Black.woff) format("woff"),
    url(./fonts/CircularStd-Black.woff2) format("woff2");
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url(./fonts/CircularStd-Bold.woff) format("woff"),
    url(./fonts/CircularStd-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "CircularStd-Book";
  src: url(./fonts/CircularStd-Book.woff) format("woff"),
    url(./fonts/CircularStd-Book.woff2) format("woff2");
}
@font-face {
  font-family: "CircularStd-Medium";
  src: url(./fonts/CircularStd-Medium.woff) format("woff"),
    url(./fonts/CircularStd-Medium.woff2) format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: CircularStd-Book;
  overflow-x: hidden;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.animate-typing {
  animation: typing 3s steps(40, end) 1s infinite normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.badge {
  @apply bg-secondary-200 h-12 w-12 rounded-xl mb-1;
}

.card {
  @apply border p-4 rounded-md col-span-1 mb-4 shadow-md;
}
.small-blanks {
  @apply h-44 w-1/3 bg-[#FF4680] rounded-xl animate-pulse;
}

.big-blanks {
  @apply h-44 w-2/3 bg-[#FF4680] rounded-xl animate-pulse;
}

.profile-card{
  @apply h-72  rounded-xl overflow-hidden ;
}

.projects {
  @apply h-56 w-64 bg-secondary-100 rounded-xl overflow-hidden relative;
}

.founders-card{
  @apply shadow-md p-6 rounded-xl w-96;
}

.tag-body {
  @apply bg-tag-bg w-16 flex justify-center rounded-lg p-2;
}

.tag-content {
  @apply text-tag-text  text-xs capitalize;
}
